@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

.bgText {
  background: url(../images/bg.jpg) no-repeat;
  background-position: center center;
  background-color: #464646;
  background-size: cover;
  background-clip: text;
  color: transparent;
}

.chakra-accordion__item.css-17mg6aq {
  overflow: hidden;
  border-top-left-radius: 36px;
}